*{
	scroll-behavior: smooth;
}
body{
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	padding: 0 auto;
	color: #262626;
	background-color: #E6E6E6;
	
}	

.nav-menu .nav-item a{
	font-size: 1.2rem !important;
}
.nav-menu li{
	margin-left: 5px 5px;
	margin-right: 5px
}
.active{
	background-color: #266EC0 !important;
}

.perfil{
	display: block;
	width: 250px;
	height: 250px;
	background-image: url('img/daniel2.jpg');
	background-size: cover;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
 .perfil{
 	margin-left: 3rem;
 }
 .featurette h2{
 	text-align: center
 }
  .nav-menu .nav-item a{
	font-size: .9rem !important;
}

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
 .perfil{
 	margin-left: 8rem;
 }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
 .perfil{
 	margin-top: 4.5rem
 }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
 .perfil{
 	margin-left: 4rem;
 	margin-top: 1rem
 }
}

/*Extra large devices (large desktops, 1200px and up)*/ 
@media (min-width: 1200px) { 
 .perfil{
 	margin-left: 5rem;
 	margin-top: 1rem
 }
}

.jumbotron .container{
	text-align: center;
} 

.contacto{
	background-color: #4984E6;
	color: #eee
}

.contacto li{
	margin: 15px;
}
.contacto li a{
	color: #eee;
}

.head .nav a{
	color: #5a5a5a
}

.head .nav a:hover{
	color: #232323;
	background-color: #D0D0D0 
}

section{
	width: auto;
	min-height: 376px;
}

.margen{
	margin-bottom: 3rem;
}

h1{
	text-align: center;

}

.card-body li{
	list-style: none;
}
.card{
	min-height: 270px
}

.footer{
	margin-top: -32px;
	font-size: 1.2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #212529;
	color: #868e96
}

.center{
	text-align:  center
}

.hero-intro{
	margin-top: -32px;
	color: #eee;
	background-color: #266EC0
}
.hero-intro p{
	margin-top: 25px;
	text-align: justify;
	font-size: 26px
}

.flecha{
	right: 10px;
	bottom: 20px;
	position: fixed;
	width: 40px;
	height: 40px;
	border-radius: 15px;
	background-color: rgba(255,255,255,0.5);
	box-shadow: 3px 3px  #888888 !important;
}
</style>